.container {
  background-color: #11161f;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.header {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #243040;
  font-weight: 600;
  color: white;
  border: 0.1rem solid #bb5b34;
  max-width: 18rem;
  border-radius: 0.3rem;
}

.headerOut{
  flex-direction: row;
}

.headerIn{
  height: 100%;
}


.header2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.header2 img{
  width: 14rem;
  height: 14rem;
  margin-top: -10px;
}

.normalWhiteText{
  margin-left: 15rem;
  margin-right: 15rem;
  color: whitesmoke;
}


.finalSection{
  color: whitesmoke;
  margin-top: 2rem;
}


.finalSection a:link {
  color: white;
  text-decoration: none;
}

.finalSection a:visited {
  color: white;
  text-decoration: none;
}

.finalSection a:hover {
  text-decoration: underline;
}

.finalSection a:active {
  color: white;
  text-decoration: underline;
}


.navButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navButton:hover {
  color: #1e90ff;
}

.emailContainer {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.emailInput {
  width: 100%;
  padding: 12px 20px;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #f0f0f0;
}

.sendButton {
  background-color: rgb(25, 221, 123);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: 19px;
}

.sendButton:hover {
  background-color: springgreen;
}

.anew{
  text-decoration: none;
}

.thinPara {
  margin-left: 0.75rem;
  color: whitesmoke;
}

.thinPara1 {
  margin-top: 5cqmax;
  margin-left: 0.75rem;
  color: whitesmoke;
}

.SampleDoc {
  margin-top: 6rem;
  color: whitesmoke;
  font-weight: 300;
}


.title3 {
  max-width: 80%;
  line-height: 1.15;
  font-size: 1.4rem;
  color: white;
  text-align: left;
}

.downloadButton {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  background-color: rgb(25, 221, 123);
  color: black;
  padding: 12px 20px;
  max-width: 16rem;
  max-height: 6rem;
  border: rgb(20, 20, 20);
  border-radius: 1rem;
  font-weight: 600;
  font-size: 19px;
  cursor: pointer;
}

.downloadButton:hover {
  background-color: springgreen;
}

.downloadButton img {
  max-width: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.boldAws {
  color: rgb(255, 132, 0);
}

.title {
  max-width: 75%;
  line-height: 1.15;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  
.header2 img{
  width: 7rem;
  height: 7rem;
  margin-top: -10px;
}


.title {
  max-width: 80%;
  line-height: 1.15;
  font-size: 2rem;
  color: white;
  text-align: center;
}


.normalWhiteText{
  margin-left: 2rem;
  margin-right: 2rem;
  color: whitesmoke;
}


.thinPara {
  margin-left: 0.75rem;
  color: whitesmoke;
}

.thinPara1 {
  margin-top: 12cqmax;
  color: white;
  font-size: 0.6rem;
  font-weight: 600;
  text-align: center;
}


.emailContainer {
  
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}


.sendButton {
  margin-top: 0.5rem;
  background-color: rgb(25, 221, 123);
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}



.emailInput {
  width: 100%;
  padding: 12px 20px;
  font-size: 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #f0f0f0;
}


.header {
  border: 0px;
  background-color: #11161f;
  font-size: 0px;
}


.finalSection{
  margin-top: 8rem;
}


.SampleDoc {
  margin-top: 3rem;
}

}
